Source: liesel
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 8.0.0), graphicsmagick-libmagick-dev-compat, libmagick++-6-headers, libpoppler-cpp-dev (>= 0.86), libfontconfig1-dev
Standards-Version: 3.9.3
Section: utils

Package: liesel
Version: 10.0
License: GPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: any
Depends: libbsd0, libc6, libxcb1, liblzma5, libuuid1, libexpat1, libstdc++6, libgomp1, libzstd1, libxml2, libbz2-1.0, libx11-6, libxext6, libwmf0.2-7, libpng16-16, libtiff5, liblcms2-2, libwebp6, libwebpmux3, libjbig0, zlib1g, libjpeg-turbo8 | libjpeg62-turbo, libfontconfig1, libfreetype6, libpoppler-cpp0v5, libgraphicsmagick-q16-3, libgraphicsmagick++-q16-12
Description: Command-line core of BookThief
 Prepares PDFs to be home-printed
 in "pamphlet" style

