Source: liesel
Priority: optional
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 8.0.0), graphicsmagick-libmagick-dev-compat, libmagick++-6-headers, libpoppler-cpp-dev (>= 0.86), libfontconfig-dev, libhpdf-dev
Standards-Version: 3.9.3
Section: utils

Package: liesel
Version: 11.3
License: GPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: any
Depends: libgraphicsmagick-q16-3, libgraphicsmagick++-q16-12, libhpdf-2.3.0, libpoppler-cpp0v5, libfontconfig1, ${misc:Depends}, ${shlibs:Depends}
Description: Converts PDFs to booklets
